node_modules
.next
Dockerfile
.dockerignore
.git
.github
.swc
.gitignore
*.md
.idea
.eslintrc.json
.editorconfig
.eslintignore
desktop.png
LICENSE
Nobelium-Logo.svg
pageid.png
prettier.config.js
vercel.json
